.navbar > .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    padding: 1em;
    background-color: #f8f8f8;
  }

  @media (max-width: 991px) {
    .navbar a{
      display: flex !important;
      justify-content: center;    
    }
    .cartWidget{
      display: flex;
     justify-content: end !important;
    }
    
  }
