html{

    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.nosotros {
    width: 80%;
    font-weight: 300;
}

.redes {
    font-weight: 300;
}

#bgFooter {
    background-color: #2b2a2a !important;  
    margin-top: auto;

}

.bgCopyright {
    background-color: #3b3b3b !important;
    color: white;
}