.nosotros{
    width: 80%;
    font-weight: 300;
}

.redes{
    font-weight: 300;
}

#bgFooter{
    background-color: #2b2a2a !important; 
}
.bgCopyright{
    background-color: #3b3b3b!important;
    color: white;
}