.input {
  border: 0 !important;
  background-color: rgba(43, 42, 42, 0);
  width: 10% !important;
}

.verMas {
  display: flex !important;
  justify-content: center !important;
  text-align: center;
  margin: auto;
  margin-top: -15%;
}

.btnBg {
  background-color: #2b2a2a !important;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 991px) {

  .itemCountContainer {
    display: flex;
    justify-content: center;
  }
  .input{
    width: 25% !important; 
  }
}

@media (max-width: 767px) {

.itemCountContainer{
  justify-content: center !important;
  margin-left: 2em;
}

}