.input {
  border: 0 !important;
  background-color: rgba(43, 42, 42, 0);
  width: 10% !important;
}

.btnBg {
  background-color: #2b2a2a !important;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 991px) {
  .cartButton{
    margin-top: 1em;
    width: 100%;
    display: flex;
    }
    

  .itemCountContainer {
    display: flex;
    justify-content: center;
  }
  .input{
    width: 25% !important; 
  }
}

@media (max-width: 767px) {

.itemCountContainer{
  justify-content: center !important;
}

}